ion-img {
  margin-left: auto;
    margin-right: auto;
}

.size{
  background-size:cover;
  height: 270px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

// 
// .button-left {
//   float: right;
//   width: 100px;
//   height: 100px;
// }


// .button-right {
//   float: left;
//   width: 100px;
//   height: 100px;
// }




